<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Document</title>
    <style>
        .mess {
            color: white;
            font-size: 18px;
            margin-right: 20px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">GO.com</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{% url 'home' %}">Home <span class="sr-only"></span></a>
                <a class="nav-item nav-link active" href="{% url 'properties' %}">Recomended courses</a>
                <a class="nav-item nav-link active" href="{% url 'submit' %}">Blogs</a>
                <a class="nav-item nav-link active" href="{% url 'contact' %}">Notifications</a>
            </div>
        </div>
       
            <span ><a class="mess" href="{% url 'profiles' %}">Hello,{{request.user}}</a></span>
            <span><a class="mess" href="{% url 'logout' %}">Logout</a></span>
          
        

    </nav>
</body>

</html>